@import "tailwindcss";

:root {
    --viewport: 1600px;

    --keepit-primary: #00683F;
    --keepit-primary-25: #00683e34;
}

* {
    box-sizing: border-box;
    /*border: 1px dashed var(--keepit-primary-25);*/
}

@layer components {

}