BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

TEMPLATES_DIR="assets/templates"
OUTPUT_DIR="generated"

# Database
DATABASE_URL="postgresql://oskar@localhost:5432/..."

PORT=3000
NODE_ENV="development"

NEXTCLOUD_URL=""
NEXTCLOUD_USER=""
NEXTCLOUD_PASSWORD=""